<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Entidades.Properties.Settings.Conexion" connectionString="Data Source=LAPTOP-E0P9ML5G\SQLEXPRESS;Initial Catalog=correo-sp-2017;Integrated Security=True" />
    </connectionStrings>
</configuration>